<div class="row">
  <div class="col-6">
    <app-liste (eventToCv)="recupererCandidat($event)"></app-liste>
  </div>
  <div class="col-6">
    @if (selCandidat) {
      <app-details [selectedCandidat]="selCandidat"></app-details>
    } @else {
      <p>Veuillez selectionner un candidat</p>
    }
  </div>
</div>

<button (click)="addNewCandidate()" class="btn btn-primary">
  Add New Candidate
</button>
<button (click)="showList()" class="btn btn-danger">
  Ce que voit CVComponent
</button>

<!-- <div appHighlight>
  <p>Bonjour MR Laurent</p>
  <p>Bonjour MR Pierre</p>
  <p>Bonjour MR Jorge</p>
</div> -->
