<div class="contour">
  <h4>{{ oneAccount.name }}</h4>
  <hr />

  <p>This account is {{ oneAccount.status }}</p>

  <button
    [disabled]="oneAccount.status == 'active'"
    (click)="updateStatus('active')"
    class="btn btn-success"
  >
    Set to 'active'
  </button>

  <button
    [disabled]="oneAccount.status == 'inactive'"
    (click)="updateStatus('inactive')"
    class="btn btn-danger"
  >
    Set to 'inactive'
  </button>
  <button
    [disabled]="oneAccount.status == 'unknown'"
    (click)="updateStatus('unknown')"
    class="btn btn-info"
  >
    Set to 'unknown'
  </button>
</div>
